# Lab 1
### Jason McDonald, Miguel Bonilla, Zachary Bunn

## AirBnB Listings for Los Angeles Area

In [1]:
## load pandas and import dataset from GitHub
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/boneeyah/DS7331_Group/main/Data_Files/airbnb_los_angeles.csv")

In [2]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,109,Amazing bright elegant condo park front *UPGRA...,521,Paolo,Other Cities,Culver City,33.98301,-118.38607,Entire home/apt,115,30,2,2016-05-15,0.02,1,43,0,NaN
1,2708,Runyon Canyon | Beau Furn Mirror Mini-Suite Fi...,3008,Chas.,City of Los Angeles,Hollywood,34.09625,-118.34605,Private room,93,30,37,2022-03-19,0.38,1,230,8,NaN
2,45392,Cute Home in Mount Washington,201514,Olivia & Alexey,City of Los Angeles,Mount Washington,34.10632,-118.22361,Private room,60,30,27,2022-03-31,0.20,1,329,4,NaN
3,2732,Zen Life at the Beach,3041,Yoga Priestess,Other Cities,Santa Monica,34.00440,-118.48095,Private room,179,7,23,2022-04-08,0.17,2,329,2,228269
4,45417,Silver Lake Cottage Oasis- Private Terrace- Th...,50231247,Tim,City of Los Angeles,Silver Lake,34.09574,-118.27788,Entire home/apt,135,30,154,2022-05-08,1.09,4,131,3,NaN