# Lab 1
## AirBnB Listings for Los Angeles Area
### Jason McDonald, Miguel Bonilla, Zachary Bunn

The site we got the data from is about the wastefulness of airbnb, but I think for our class it would be better (easier) to focus on the busness opportunity.
So, say, building a model that predicts daily rental listing price, using an error metric to measure the effectiveness of the predictions.
This would definitely be more tangible than anything from the side of the wasted housing space which would be harder to measure.

### Business Understanding

In [1]:
## load pandas and import dataset from GitHub
import pandas as pd

df = pd.read_csv("https://media.githubusercontent.com/media/boneeyah/DS7331_Group/main/Data_Files/airbnb_los_angeles.csv")

In [2]:
# verify data loaded properly
df.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,45392,https://www.airbnb.com/rooms/45392,20220606014052,2022-06-06,Cute Home in Mount Washington,<b>The space</b><br />Cute house in Mount Wash...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,201514,https://www.airbnb.com/users/show/201514,...,4.96,4.58,4.85,NaN,f,1,0,1,0,0.20
1,45417,https://www.airbnb.com/rooms/45417,20220606014052,2022-06-06,Silver Lake Cottage Oasis- Private Terrace- Th...,"Ideal for an extended stay, our Cottage perfec...",Walk just a couple of blocks to reach all the ...,https://a0.muscache.com/pictures/monet/Select-...,50231247,https://www.airbnb.com/users/show/50231247,...,4.98,4.91,4.82,NaN,f,4,4,0,0,1.09
2,5728,https://www.airbnb.com/rooms/5728,20220606014052,2022-06-06,Tiny Home in Artistic Oasis near Venice and LAX,Our home is located near Venice Beach without ...,Our neighborhood is very quiet and save. There...,https://a0.muscache.com/pictures/7a29d275-f293...,9171,https://www.airbnb.com/users/show/9171,...,4.92,4.80,4.70,HSR19-002149,f,3,0,3,0,2.00
3,5729,https://www.airbnb.com/rooms/5729,20220606014052,2022-06-06,Zen Room with Floating Bed near Venice and LAX,Our home is located near Venice Beach without ...,Our neighborhood is very quiet and save. There...,https://a0.muscache.com/pictures/f48e3ea8-2075...,9171,https://www.airbnb.com/users/show/9171,...,4.89,4.77,4.71,HSR19-002149,f,3,0,3,0,1.52
4,109,https://www.airbnb.com/rooms/109,20220606014052,2022-06-06,Amazing bright elegant condo park front *UPGRA...,"*** Unit upgraded with new bamboo flooring, br...",NaN,https://a0.muscache.com/pictures/4321499/1da98...,521,https://www.airbnb.com/users/show/521,...,4.00,5.00,4.00,NaN,f,1,1,0,0,0.02

In [3]:
# delete this later on
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42041 entries, 0 to 42040
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            42041 non-null  int64
 1   listing_url                                   42041 non-null  object
 2   scrape_id                                     42041 non-null  int64
 3   last_scraped                                  42041 non-null  object
 4   name                                          42039 non-null  object
 5   description                                   41102 non-null  object
 6   neighborhood_overview                         25110 non-null  object
 7   picture_url                                   42041 non-null  object
 8   host_id                                       42041 non-null  int64
 9   host_url                                      42041 non-null  object
 10  host_name                                     41858 non-null  object
 11  host_since                                    41858 non-null  object
 12  host_location                                 41780 non-null  object
 13  host_about                                    24573 non-null  object
 14  host_response_time                            33697 non-null  object
 15  host_response_rate                            33697 non-null  object
 16  host_acceptance_rate                          34601 non-null  object
 17  host_is_superhost                             41858 non-null  object
 18  host_thumbnail_url                            41858 non-null  object
 19  host_picture_url                              41858 non-null  object
 20  host_neighbourhood                            33140 non-null  object
 21  host_listings_count                           41858 non-null  float64
 22  host_total_listings_count                     41858 non-null  float64
 23  host_verifications                            42041 non-null  object
 24  host_has_profile_pic                          41858 non-null  object
 25  host_identity_verified                        41858 non-null  object
 26  neighbourhood                                 25111 non-null  object
 27  neighbourhood_cleansed                        42041 non-null  object
 28  neighbourhood_group_cleansed                  35328 non-null  object
 29  latitude                                      42041 non-null  float64
 30  longitude                                     42041 non-null  float64
 31  property_type                                 42041 non-null  object
 32  room_type                                     42041 non-null  object
 33  accommodates                                  42041 non-null  int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                41980 non-null  object
 36  bedrooms                                      38308 non-null  float64
 37  beds                                          41271 non-null  float64
 38  amenities                                     42041 non-null  object
 39  price                                         42041 non-null  object
 40  minimum_nights                                42041 non-null  int64
 41  maximum_nights                                42041 non-null  int64
 42  minimum_minimum_nights                        42036 non-null  float64
 43  maximum_minimum_nights                        42036 non-null  float64
 44  minimum_maximum_nights                        42036 non-null  float64
 45  maximum_maximum_nights                        42036 non-null  float64
 46  minimum_nights_avg_ntm                        42036 non-null  float64
 47  maximum_nights_avg_ntm                        42036 non-null  float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              42041 non-null  object
 50  availability_30                               42041 non-null  int64
 51  availability_60                               42041 non-null  int64
 52  availability_90                               42041 non-null  int64
 53  availability_365                              42041 non-null  int64
 54  calendar_last_scraped                         42041 non-null  object
 55  number_of_reviews                             42041 non-null  int64
 56  number_of_reviews_ltm                         42041 non-null  int64
 57  number_of_reviews_l30d                        42041 non-null  int64
 58  first_review                                  32413 non-null  object
 59  last_review                                   32413 non-null  object
 60  review_scores_rating                          32413 non-null  float64
 61  review_scores_accuracy                        32129 non-null  float64
 62  review_scores_cleanliness                     32131 non-null  float64
 63  review_scores_checkin                         32125 non-null  float64
 64  review_scores_communication                   32130 non-null  float64
 65  review_scores_location                        32123 non-null  float64
 66  review_scores_value                           32121 non-null  float64
 67  license                                       11004 non-null  object
 68  instant_bookable                              42041 non-null  object
 69  calculated_host_listings_count                42041 non-null  int64
 70  calculated_host_listings_count_entire_homes   42041 non-null  int64
 71  calculated_host_listings_count_private_rooms  42041 non-null  int64
 72  calculated_host_listings_count_shared_rooms   42041 non-null  int64
 73  reviews_per_month                             32413 non-null  float64
dtypes: float64(22), int64(17), object(35)
memory usage: 23.7+ MB

In [4]:
## delete this later on
## this can be deleted, was checking for difference between the two
print(df.room_type.unique())
df.property_type.unique()

## not sure if we should keep both, they're sort of related, but sufficiently different

['Private room' 'Entire home/apt' 'Shared room' 'Hotel room']

array(['Private room in home', 'Entire bungalow',
       'Private room in tiny home', 'Private room in guesthouse',
       'Entire condo', 'Room in hotel', 'Private room in rental unit',
       'Entire guesthouse', 'Entire home', 'Entire rental unit',
       'Entire guest suite', 'Private room in loft', 'Entire townhouse',
       'Entire cottage', 'Entire villa', 'Private room',
       'Shared room in rental unit', 'Room in boutique hotel',
       'Private room in townhouse', 'Private room in hostel', 'Camper/RV',
       'Private room in bed and breakfast', 'Farm stay', 'Entire cabin',
       'Entire loft', 'Private room in farm stay',
       'Private room in condo', 'Private room in bungalow',
       'Private room in guest suite', 'Shared room in home',
       'Shared room in hostel', 'Shared room in villa', 'Entire place',
       'Room in aparthotel', 'Private room in treehouse', 'Treehouse',
       'Yurt', 'Private room in villa', 'Private room in cottage',
       'Private room in castle', 'Tiny home', 'Entire serviced apartment',
       'Shared room in tiny home', 'Shared room in condo',
       'Private room in island', 'Private room in tent',
       'Shared room in guesthouse', 'Private room in cabin', 'Campsite',
       'Shared room in bed and breakfast',
       'Private room in serviced apartment', 'Shared room in guest suite',
       'Earthen home', 'Shared room in bungalow', 'Room in hostel',
       'Ranch', 'Castle', 'Private room in resort',
       'Private room in camper/rv', 'Shared room', 'Private room in yurt',
       'Floor', 'Barn', 'Shared room in cabin',
       'Shared room in townhouse', 'Private room in earthen home',
       'Shipping container', 'Room in serviced apartment', 'Train',
       'Shared room in camper/rv', 'Entire home/apt', 'Tent',
       'Shared room in loft', 'Boat', 'Entire vacation home',
       'Shared room in earthen home', 'Room in bed and breakfast',
       'Private room in minsu', 'Shared room in dorm', 'Lighthouse',
       'Shared room in dome', 'Private room in dome',
       'Private room in barn', 'Shared room in cottage', 'Cave',
       'Private room in casa particular', 'Entire resort',
       'Shared room in tent', 'Private room in nature lodge',
       'Private room in boat', 'Shared room in boutique hotel',
       'Entire chalet', 'Shared room in serviced apartment', 'Hut',
       'Hotel room', 'Tower', 'Private room in hut', 'Houseboat', 'Bus',
       'Casa particular', 'Shared room in casa particular', 'Dome',
       'Private room in vacation home', 'Private room in ranch', 'Island',
       'Room in resort'], dtype=object)

In [5]:
## removing attributes whch have no value to us
### keeping longitude and latitude in case we wanted to do a sort of heat map for airbnb hotspots for the exceptional points, if not we can remove
### neighborhood, neighborhood_cleansed, and neighborhood_group_cleansed variations of same, but cleansed seems to be better to use, I'm guessing it has imputed values
### for some reason, all listings have NaN for bathrooms, so removing it
for col in [
    'listing_url','scrape_id','last_scraped','description','neighborhood_overview','picture_url','host_url','host_about','host_response_time','host_response_rate','host_acceptance_rate',
    'host_thumbnail_url','host_picture_url','host_verifications','host_has_profile_pic','bathroom_text','host_listings_count','host_neighbourhood','bathrooms','minimum_minimum_nights',
    'maximum_minimum_nights','minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm','calendar_updated','availability_30','availability_60',
    'availability_90','availability_365','calendar_last_scraped','number_of_reviews_ltm','number_of_reviews_l30d','review_scores_accuracy','review_scores_communication','review_scores_cleanliness',
    'review_scores_checkin','review_scores_value','review_scores_location','calculated_host_listings_count_entire_homes','calculated_host_listings_count_private_rooms',
    'calculated_host_listings_count_shared_rooms','reviews_per_month','neighbourhood','neighbourhood_group_cleansed', 'first_review','last_review','minimum_nights','maximum_nights','license'
]:
    if col in df:
        del df[col]

In [6]:
### delete this cell later on
df.info()
### I'm thinking we could drop minimum and maximum number of night stays, it's basically shortest and longest stay at the rental, that would put us at 25 attributes unless we readd some

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42041 entries, 0 to 42040
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              42041 non-null  int64
 1   name                            42039 non-null  object
 2   host_id                         42041 non-null  int64
 3   host_name                       41858 non-null  object
 4   host_since                      41858 non-null  object
 5   host_location                   41780 non-null  object
 6   host_is_superhost               41858 non-null  object
 7   host_total_listings_count       41858 non-null  float64
 8   host_identity_verified          41858 non-null  object
 9   neighbourhood_cleansed          42041 non-null  object
 10  latitude                        42041 non-null  float64
 11  longitude                       42041 non-null  float64
 12  property_type                   42041 non-null  object
 13  room_type                       42041 non-null  object
 14  accommodates                    42041 non-null  int64
 15  bathrooms_text                  41980 non-null  object
 16  bedrooms                        38308 non-null  float64
 17  beds                            41271 non-null  float64
 18  amenities                       42041 non-null  object
 19  price                           42041 non-null  object
 20  has_availability                42041 non-null  object
 21  number_of_reviews               42041 non-null  int64
 22  review_scores_rating            32413 non-null  float64
 23  instant_bookable                42041 non-null  object
 24  calculated_host_listings_count  42041 non-null  int64
dtypes: float64(6), int64(5), object(14)
memory usage: 8.0+ MB

In [7]:
df.price.unique()

array(['$60.00', '$135.00', '$50.00', ..., '$1,320.00', '$743.00',
       '$1,360.00'], dtype=object)

### Data Meaning Type

The data set consisted of 74 attributes, however, some of these attributes were not useful for the scope of our project (URLs and other variables), so the data set was reduced to 25 variables.

### Data Quality

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42041 entries, 0 to 42040
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              42041 non-null  int64
 1   name                            42039 non-null  object
 2   host_id                         42041 non-null  int64
 3   host_name                       41858 non-null  object
 4   host_since                      41858 non-null  object
 5   host_location                   41780 non-null  object
 6   host_is_superhost               41858 non-null  object
 7   host_total_listings_count       41858 non-null  float64
 8   host_identity_verified          41858 non-null  object
 9   neighbourhood_cleansed          42041 non-null  object
 10  latitude                        42041 non-null  float64
 11  longitude                       42041 non-null  float64
 12  property_type                   42041 non-null  object
 13  room_type                       42041 non-null  object
 14  accommodates                    42041 non-null  int64
 15  bathrooms_text                  41980 non-null  object
 16  bedrooms                        38308 non-null  float64
 17  beds                            41271 non-null  float64
 18  amenities                       42041 non-null  object
 19  price                           42041 non-null  object
 20  has_availability                42041 non-null  object
 21  number_of_reviews               42041 non-null  int64
 22  review_scores_rating            32413 non-null  float64
 23  instant_bookable                42041 non-null  object
 24  calculated_host_listings_count  42041 non-null  int64
dtypes: float64(6), int64(5), object(14)
memory usage: 8.0+ MB

listing name, host_name, host_since, host_location, host_is_superhost, host_total_listings_count, host_identity_verified, bathrooms_text, bedrooms, beds and review_scores_rating all have missing values.
With review scores having the largest number of missing values.

In [9]:
## drop results with no review scores, we can redefine the scope of the project to only listings with review scores available or something like that
df = df[~df.review_scores_rating.isnull() & ~df.beds.isnull() & ~df.host_location.isnull()]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31871 entries, 0 to 42000
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              31871 non-null  int64
 1   name                            31871 non-null  object
 2   host_id                         31871 non-null  int64
 3   host_name                       31871 non-null  object
 4   host_since                      31871 non-null  object
 5   host_location                   31871 non-null  object
 6   host_is_superhost               31871 non-null  object
 7   host_total_listings_count       31871 non-null  float64
 8   host_identity_verified          31871 non-null  object
 9   neighbourhood_cleansed          31871 non-null  object
 10  latitude                        31871 non-null  float64
 11  longitude                       31871 non-null  float64
 12  property_type                   31871 non-null  object
 13  room_type                       31871 non-null  object
 14  accommodates                    31871 non-null  int64
 15  bathrooms_text                  31851 non-null  object
 16  bedrooms                        28968 non-null  float64
 17  beds                            31871 non-null  float64
 18  amenities                       31871 non-null  object
 19  price                           31871 non-null  object
 20  has_availability                31871 non-null  object
 21  number_of_reviews               31871 non-null  int64
 22  review_scores_rating            31871 non-null  float64
 23  instant_bookable                31871 non-null  object
 24  calculated_host_listings_count  31871 non-null  int64
dtypes: float64(6), int64(5), object(14)
memory usage: 6.3+ MB

In [10]:
## there are more bedrooms NAs than beds, I'm thinking we could impute #bedrooms based on the median bedrooms for listings with that same number of beds
df_grouped = df.groupby(by = ['beds'])
df_grouped[['bedrooms']].describe()

     bedrooms
        count       mean       std   min    25%   50%    75%   max
beds
1.0   12043.0   1.014033  0.145413   1.0   1.00   1.0   1.00   5.0
2.0    7044.0   1.509086  0.524891   1.0   1.00   1.0   2.00   4.0
3.0    4057.0   2.325857  0.698550   1.0   2.00   2.0   3.00   6.0
4.0    2732.0   2.905930  0.902583   1.0   2.00   3.0   4.00   6.0
5.0    1337.0   3.498130  1.009775   1.0   3.00   4.0   4.00   6.0
6.0     806.0   3.818859  1.174022   1.0   3.00   4.0   5.00   7.0
7.0     403.0   4.203474  1.280659   1.0   3.00   4.0   5.00   7.0
8.0     252.0   4.583333  1.415973   1.0   4.00   4.0   5.00   8.0
9.0     108.0   4.842593  1.254242   3.0   4.00   5.0   6.00   9.0
10.0     69.0   4.811594  1.620415   1.0   4.00   5.0   5.00  10.0
11.0     43.0   5.465116  1.386136   3.0   4.00   5.0   6.00  10.0
12.0     24.0   6.083333  1.863066   4.0   5.00   6.0   7.00  11.0
13.0     13.0   5.307692  1.377474   4.0   4.00   5.0   7.00   7.0
14.0     12.0   6.166667  2.329000   1.0   4.75   7.0   7.25   9.0
15.0      4.0   7.250000  1.500000   6.0   6.00   7.0   8.25   9.0
16.0      9.0   4.888889  2.713137   1.0   4.00   5.0   6.00   9.0
17.0      1.0  10.000000       NaN  10.0  10.00  10.0  10.00  10.0
18.0      3.0   6.000000  4.582576   1.0   4.00   7.0   8.50  10.0
19.0      2.0   5.000000  5.656854   1.0   3.00   5.0   7.00   9.0
20.0      2.0   4.000000  4.242641   1.0   2.50   4.0   5.50   7.0
21.0      2.0   9.500000  0.707107   9.0   9.25   9.5   9.75  10.0
23.0      1.0   6.000000       NaN   6.0   6.00   6.0   6.00   6.0
30.0      1.0  17.000000       NaN  17.0  17.00  17.0  17.00  17.0

In [11]:
df_imputed = df_grouped[['beds','bedrooms']].transform(lambda grp: grp.fillna(grp.median()))
df_imputed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31871 entries, 0 to 42000
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   beds      31871 non-null  float64
 1   bedrooms  31871 non-null  float64
dtypes: float64(2)
memory usage: 747.0 KB

In [12]:
## imputing missing bedroom number with the median
df['imputed']=df_imputed[['bedrooms']]
## verifying that missing values where imputed with the median
df[['beds','bedrooms','imputed']][df.bedrooms.isnull()]

       beds  bedrooms  imputed
17      3.0       NaN      2.0
21      1.0       NaN      1.0
28      1.0       NaN      1.0
33      2.0       NaN      1.0
50      1.0       NaN      1.0
...     ...       ...      ...
40952   2.0       NaN      1.0
40972   1.0       NaN      1.0
41221   1.0       NaN      1.0
41237   1.0       NaN      1.0
41870   1.0       NaN      1.0

[2903 rows x 3 columns]

In [13]:
## this was just another check that imputed had 0 null values, we can probably delete this cell
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31871 entries, 0 to 42000
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              31871 non-null  int64
 1   name                            31871 non-null  object
 2   host_id                         31871 non-null  int64
 3   host_name                       31871 non-null  object
 4   host_since                      31871 non-null  object
 5   host_location                   31871 non-null  object
 6   host_is_superhost               31871 non-null  object
 7   host_total_listings_count       31871 non-null  float64
 8   host_identity_verified          31871 non-null  object
 9   neighbourhood_cleansed          31871 non-null  object
 10  latitude                        31871 non-null  float64
 11  longitude                       31871 non-null  float64
 12  property_type                   31871 non-null  object
 13  room_type                       31871 non-null  object
 14  accommodates                    31871 non-null  int64
 15  bathrooms_text                  31851 non-null  object
 16  bedrooms                        28968 non-null  float64
 17  beds                            31871 non-null  float64
 18  amenities                       31871 non-null  object
 19  price                           31871 non-null  object
 20  has_availability                31871 non-null  object
 21  number_of_reviews               31871 non-null  int64
 22  review_scores_rating            31871 non-null  float64
 23  instant_bookable                31871 non-null  object
 24  calculated_host_listings_count  31871 non-null  int64
 25  imputed                         31871 non-null  float64
dtypes: float64(7), int64(5), object(14)
memory usage: 6.6+ MB

In [14]:
df['bedrooms'] = df['imputed']
del df['imputed']

In [15]:
## checking to see that all missing values have been handled
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31871 entries, 0 to 42000
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              31871 non-null  int64
 1   name                            31871 non-null  object
 2   host_id                         31871 non-null  int64
 3   host_name                       31871 non-null  object
 4   host_since                      31871 non-null  object
 5   host_location                   31871 non-null  object
 6   host_is_superhost               31871 non-null  object
 7   host_total_listings_count       31871 non-null  float64
 8   host_identity_verified          31871 non-null  object
 9   neighbourhood_cleansed          31871 non-null  object
 10  latitude                        31871 non-null  float64
 11  longitude                       31871 non-null  float64
 12  property_type                   31871 non-null  object
 13  room_type                       31871 non-null  object
 14  accommodates                    31871 non-null  int64
 15  bathrooms_text                  31851 non-null  object
 16  bedrooms                        31871 non-null  float64
 17  beds                            31871 non-null  float64
 18  amenities                       31871 non-null  object
 19  price                           31871 non-null  object
 20  has_availability                31871 non-null  object
 21  number_of_reviews               31871 non-null  int64
 22  review_scores_rating            31871 non-null  float64
 23  instant_bookable                31871 non-null  object
 24  calculated_host_listings_count  31871 non-null  int64
dtypes: float64(6), int64(5), object(14)
memory usage: 6.3+ MB

### Simple Statistics

### Visualize Attributes

### Explore Joint Attributes

### Explore Attributes and Class

### New Features

### Exceptional Work